extends layout

block title
  title Example Of Node Express App
 link(href='vendor/fontawesome-free/css/all.min.css', rel='stylesheet', type='text/css')
    // Google Fonts
    link(href='https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700', rel='stylesheet')
    |   
    link(href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic', rel='stylesheet', type='text/css')
block scripts
  script(src="http://code.jquery.com/jquery-1.10.0.min.js")
  script(src="/home.js")
block content
       .container
        h2.text-center.mt-0.text-white NodeJs Express Playground Project
        |       
        hr.divider.my-4
        |       
        .row
          .col-lg-3.col-md-6.text-center
            .mt-5
              i.fas.fa-4x.fa-gem.text-primary.mb-4
              |             
              h3.h4.mb-2.text-white Pepete chasy po
              |             
              p.mb-0.text-white Minions ipsum butt bappleees bee do bee do bee do para tú. Pepete potatoooo po kass poulet tikka masala wiiiii. Poulet tikka masala potatoooo daa me want bananaaa! Jeje hana dul sae wiiiii belloo! Tatata bala tu potatoooo. Jiji tank yuuu! Wiiiii belloo! Para tú la bodaaa wiiiii hana dul sae tatata bala tu.
          |         
          .col-lg-3.col-md-6.text-center
            .mt-5
              i.fas.fa-4x.fa-laptop-code.text-primary.mb-4
              |             
              h3.h4.mb-2.text-white Bananaaa!!!
              |             
              p.text-white.mb-0 Pepete me want bananaaa! Baboiii gelatooo butt para tú jeje wiiiii tatata bala tu. Para tú belloo! La bodaaa pepete hana dul sae. Chasy potatoooo tatata bala tu uuuhhh. Daa bappleees baboiii tulaliloo wiiiii po kass poulet tikka masala. Chasy jiji para tú para tú jiji tank yuuu! Jeje butt bananaaaa jeje. Baboiii pepete bananaaaa po kass jiji wiiiii bee do bee do bee do me want bananaaa!
          |         
          .col-lg-3.col-md-6.text-center
            .mt-5
              i.fas.fa-4x.fa-globe.text-primary.mb-4
              |             
              h3.h4.mb-2.text-white Minions ipsum potatoooo
              |             
              p.text-white.mb-0 Minions ipsum aaaaaah wiiiii daa chasy la bodaaa gelatooo jeje pepete jiji. Me want bananaaa! chasy underweaaar bappleees potatoooo underweaaar tank yuuu! Para tú hana dul sae. Jeje hana dul sae bee do bee do bee do bappleees. Bananaaaa underweaaar ti aamoo! Tatata bala tu jiji me want bananaaa! Bappleees jiji gelatooo. Butt hahaha daa hahaha ti aamoo! Hahaha baboiii tank yuuu! Poopayee po kass tank yuuu! Bappleees la bodaaa hahaha potatoooo tulaliloo hana dul sae. Tatata bala tu para tú chasy jiji poulet tikka masala para tú. Para tú chasy belloo! Belloo!
          |         
          .col-lg-3.col-md-6.text-center
            .mt-5
              i.fas.fa-4x.fa-heart.text-primary.mb-4
              |             
              h3.h4.mb-2.text-white Made with Minions ipsum
              |             
              p.text-white.mb-0 Minions ipsum aaaaaah potatoooo belloo! Potatoooo bananaaaa jeje gelatooo daa chasy bananaaaa. Jiji aaaaaah gelatooo hana dul sae tank yuuu! Wiiiii daa poulet tikka masala gelatooo aaaaaah po kass. Aaaaaah po kass tank yuuu! Hahaha bananaaaa chasy wiiiii. Gelatooo jeje hahaha poulet tikka masala la bodaaa jeje. Tank yuuu! gelatooo underweaaar belloo! Potatoooo chasy ti aamoo! Bee do bee do bee do. Bananaaaa para tú po kass daa gelatooo jiji tulaliloo uuuhhh me want bananaaa! Ti aamoo! Wiiiii.